@media only screen and (max-width: 600px) {
    #nav{
        flex-direction: column;
        
    }
    #nav-heading{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #nav_menu ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    /* nav resp end  */

    #cont_hero{
        padding: 20px;
    }
    #explore{
        font-size: 25px;
    }
    #explore_p{
        padding: 6px;
    }
   .frm_bg{
    margin: 6px;
   }


   #pop_div{
  flex-direction: column;
  }
  #popular_img{
    padding: 15px;
  }


  #bg, #bg2{
    max-width: 573px;
    width: 100%;
  }
  #flex{
    flex-direction: column;
    padding: 15px;
  }
  #flex2{
    flex-direction: column;
    padding: 15px;
  }
  #bg3{
    max-width: 395px;
    width: 100%;
  }
  #bg4{
    width: 474px;
    width: 100%;
  }
  #bg5{
    max-width: 395px;
    background-position: center;
    
  }
  #flex3{
    flex-direction: column;
    padding: 15px;
  }
  #bg6, #bg7{
    max-width: 395px;
height: 286px;
width: 100%;
  }
/* ######## */



#card_flex{
flex-direction: column;
padding: 15px;
  }
  #card_center{
    padding: 15px;
  }

  #flex_form{
    flex-direction: column;
    padding: 15px;
  }

  #txt, #mil{
    width: 300px;
height: 52px;
  }
  #sub_btn{
    width: 300px;
  }

  .position{
    width: 214px;
    left: -50px;
    
  }
  
}

